<!-- <div class="example-boundary" id="example-boundary">
  <img
    src="../../../assets/imgs/diff/serum-the-ordinary.jpg"
    alt=""
    class="item-1"
    cdkDragBoundary=".example-boundary"
    cdkDrag
  />
  <video
    width="600"
    height="800"
    #video
    id="video"
    style="display: none"
  ></video>
  <canvas id="show-video" width="600" height="800"></canvas>
</div>

<img [src]="captureImage" alt="" class="imgCapture">
<button (click)="startVideo()">START CAMERA</button>
<button (click)="captureImg()">CAPTURE</button>

<div class="item-list-container">
  <ul class="item-list">
    <li class="item">Item 1</li>
    <li class="item">Item 2</li>
    <li class="item">Item 3</li>
    <li class="item">Item 4</li>
    <li class="item">Item 5</li>
    <li class="item">Item 6</li>
    <li class="item">Item 7</li>
    <li class="item">Item 8</li>
    <li class="item">Item 9</li>
    <li class="item">Item 10</li>
  </ul>
</div> -->
