.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 98vh;
  background-color: #1f3244;
}

.pulse {
  background-color: rgba(255, 255, 255, 0.5);
  height: 5vmax;
  width: 5vmax;
  border-radius: 100%;
  position: relative;
}
.ring {
  position: absolute;
  background-color: inherit;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  opacity: 0.8;
  animation: pulsing 2s ease-out infinite;

  &:nth-of-type(1) {
    animation-delay: -0.5s;
  }
  &:nth-of-type(2) {
    animation-delay: -1s;
  }
  &:nth-of-type(3) {
    animation-delay: -1.5s;
  }
}

@keyframes pulsing {
  100% {
    transform: scale(1.75);
    opacity: 0;
  }
}
