<!-- <p>audio-detect works!</p>-->

<!-- <button class="mic-button" (click)="detectVolumeAudio2()">
  <i class="fa fa-microphone"></i>
  Record
</button> -->
<!-- <p>Volume::: {{volume}}</p> -->

<!-- <h1>VU meter from mic input (getUserMedia API)</h1>
<canvas id="canvas" width="150" height="300" #canvas></canvas> -->

<button class="cam-button" (click)="detectVideo()">
  <i class="fa fa-microphone"></i>
  Camera
</button>

<!-- <button class="capture-button" (click)="captureImg()">
  Capture
</button> -->

<div class="show-video">
  <video width="480" height="480" #video id="video" style="display: none;">
  </video>
  <canvas id="si" width="600" height="800"></canvas>
  <!-- <canvas id="si-img" width="640" height="480"></canvas>
  <img id="img" src="../../../assets/imgs/2.png"> -->
</div>

<!-- <div class="show-capture">
  <canvas id="capture" width="480" height="480"></canvas>
</div> -->
