<div id="wrapper">
  <div id="main">
    <img class="banner" src="../../../assets/imgs/voice/banner.jpg" alt="" />
    <img class="bottle" src="../../../assets/imgs/voice/strongbow.png" alt="" />
    <div class="water-drop"></div>
    <!-- <div class="liquid"></div> -->
    <p class="title on-top">
      SHAKE <span class="sub-title">[ STRONGBOW ]</span>
    </p>
    <p class="title on-bottom">AND ENJOY A DRINK {{ countShake }}</p>
  </div>
  <div class="popup-container">
    <div class="popup">
      <img
        src="../../../assets/imgs/shake/—Pngtree—lens flare light effect_6586898.png"
        alt=""
        class="light"
      />
      <img src="../../../assets/imgs/shake/lib.png" alt="" class="lib" />
      <h2>Chúc mừng</h2>
      <p class="description-congrats">Bạn đã bung nắp STRONGBOW</p>
      <button class="popup-close">Nhận thưởng</button>
    </div>
  </div>
</div>
