@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900");

/* Color Palette */

$color-background: #171e2b;
$color-background-light: #39445b;

$color-yellow: #ffdf9f;
$color-green: #42ce8e;

/* General Styles */

.main {
  position: relative;
  top: 0;
  left: 0;
  background-color: $color-background;
  width: 400px;
  height: 800px;
  overflow: hidden;
}

.sections {
  padding: 40px 12vw;
  @media (min-width: 960px) {
    padding: 40px calc((100% - 600px) / 2);
  }
}

.container {
  width: 130%;
  font-family: "Source Sans Pro", sans-serif;
  position: absolute;
  left: -13%;
  top: 20%;
}

svg {
  width: 100%;
  max-height: 90vh;
}

#cat {
  opacity: 0;
  cursor: pointer;
}

.shadow-2,
.shadow-1 {
  opacity: 0;
}

/* Footer */

// footer {
//   @extend .sections;
//   background-color: $color-background-light;
//   color: white;
// }

// .footer__title {
//   font-weight: bold;
//   font-size: 30px;
//   margin-top: 40px;
// }

// .footer__subtitle {
//   font-size: 22px;
//   color: $color-yellow;
// }

// .footer__parragraph {
//   line-height: 1.5em;
//   font-size: 22px;
//   a {
//     color: $color-green;
//   }
// }

// .footer__list {
//   @extend .footer__parragraph;
// }

// .copyright {
//   @extend .footer__parragraph;
//   text-align: center;
//   border-top: 1px dashed rgba(white, 0.15);
//   padding: 10px 0;
//   margin: 40px auto;
// }
