::placeholder {
    color: currentColor;
    margin-left: 10px;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .fill-info {
        background-image: url(../../../assets/demos/imgs/puzzle/fill-info-puzzle.png);
        background-size: cover;
    }
    .play-game {
        background-image: url(../../../assets/demos/imgs/puzzle/game-play-puzzle.png);
        background-size: cover;
    }
    #main {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        #box-info {
            position: absolute;
            width: 300px;
            height: 300px;
            background-color: white;
            border-radius: 10px;
            // left: 50px;
            bottom: 32%;
            overflow: hidden;
            .title {
                position: absolute;
                width: 100%;
                height: 50px;
                top: 30px;
                display: flex;
                justify-content: center;
                p {
                    color: crimson;
                    font-size: 23px;
                    font-weight: bold;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
            .form-input {
                position: absolute;
                width: 100%;
                height: 200px;
                top: 50px;
                p {
                    margin-top: 0;
                    margin-bottom: 0;
                    color: black;
                    font-size: 15px;
                    font-weight: 600;
                    text-align: start;
                }
                input {
                    width: 100%;
                    margin-top: 5px;
                    height: 25px;
                    border-radius: 5px;
                    outline: none;
                    border: none;
                    background-color: rgb(184, 184, 184);
                    color: white;
                }
                .fullname {
                    position: absolute;
                    width: 90%;
                    height: 100px;
                    top: 25px;
                    padding: 10px;
                }
                .phone {
                    position: absolute;
                    width: 90%;
                    height: 100px;
                    top: 100px;
                    padding: 10px;
                }
            }
            .button-play {
                position: absolute;
                width: 100%;
                height: 50px;
                top: 230px;
                display: flex;
                justify-content: center;
                align-items: center;
                .button {
                    position: absolute;
                    width: 100px;
                    height: 35px;
                    background-color: crimson;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-weight: 700;
                }
            }
        }
        #gameMain {
            position: absolute;
            // left: 25px;
            bottom: 28%;
        }
    }
    #finsh-game {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../../../assets/demos/imgs/puzzle/reward-puzzle.png);
        background-size: cover;
        overflow: hidden;
        border-radius: 15px;
        z-index: 4;
    }
}